.loginBody{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.loginBg{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: -999;
}

.loginBox{
    border-radius: 5%;
    width: 320px;
    height: 400px;
    background-color:black;
    color: white;
    margin-top:15%;
    /* position: absolute; */
    margin-left: auto;
    /* transform: translateY(-50%,-50%); */
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
}
.loginAvatar{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.loginInput{
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
    height: 40px;
    font-size: 16px;
}

.loginButton{
    width: 100%;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background:seashell;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
