.postHeader{
    margin-bottom: 10px;
    background-color:black;
    color: white;
  }
  
  .post{
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
  }
  
  .postFooter{
    justify-content: space-evenly;
    background-color: white;
  }
  
  .postButton{
    border: none;
    background-color: black;
    width: 100%;
    /* margin-left: 6%; */
  }

  .postButton:hover,.postButton:focus{
    background-color: red;
  }
